body {
  font-family: Arial, sans-serif;
}

h1 {
	color: red; 
}

#messages {
  list-style: none;
  padding: 0;
  margin: 0;
}

#messages li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

#messages li:last-child {
  border-bottom: none;
}